<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>VizGraphs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a id="logo">VizGraphs</h1>
                            
						</div>
					</div>
                    
				</header>


			<!-- Banner -->
				<div id="banner-wrapper">
					<section id="banner">
						<h2>Create a Graph:</h2>
						<a href="/new"><button>Create Graph</button></a>
					</section>
				</div>
				<br>
					<center><h1 id="tutorial" style="font-size: 3.5em">Tutorial:</h1></center>
                    <p style="margin-left: 5vw; margin-right: 5vw; font-size: 1.2em">
                        You can adjust the view of the graph by zooming in and out. If you do not see your vertices or edges, try zooming out. In addition, all of the vertices are moveable by clicking and dragging them.
                        <br><br>To get started, click "Create Graph." You will then see the following layout:
                        <img src="/images/screen1.jpg" style="max-width: 80vw">
                        <br>
                        To create a new graph, click "Clear Graph." For graph animations, select your desired algorithm to visualize under "Algorithm." Below will be a series of fields for the algorithm you select. Be sure to fill all of these in before running an animation. If not, the animation will not run. Once you fill in the fields, click "Play Animation." To clear the highlighted elements (undo the animation), click "Clear Animation."
                        <br><br>
                        Graph Construction:
                        <img src="/images/screen2.jpg" style="max-width: 80vw">
                        <br>
                        To the right you will notice the "Add Vertex" option. To add a vertex to the graph, enter its id and click "Add Vertex." To add an edge, go to the "Add Edge" section and enter the start and end vertices of the edge. In addition, put the weight of the edge. If weights do not matter, put 0 for the weight. You also have the option to change whether or not the graph is directed. Finally, there is a JSON representation of the graph. You are free to edit it. To commit changes, click "Create Graph."
                        <br>
                        Finally, you have the option to save the graph and return to it later. To do so, click "Save Graph." You will then be given a URL you can use to return to the graph.
                        
                    </p>


			<!-- Footer -->
				<footer id="footer" class="container">
					
					

					<!-- Copyright -->
						<div id="copyright">
							Created by Mike Abelar.
                            Contact: redefiningproductions@gmail,com.
						</div>

				</footer>

			</div>



	</body>
</html>